*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: white;
    height: 1000px;
    width: 100%;
}
header{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

nav{
    width: 95%;
    height: 100px;
    background-color: #81ca38;
    border: 1px solid black;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}
.icon{

    font-size: 24pt;
}
.search-bar-container{
    width: 100%;
    height: 10%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar{
    width: 20%;
    height: 50%;
    border-radius: 25px;
    border-style: solid;
    font-size: 16pt;

    padding: 10px;
}

.filter{
    background-color: #81ca38;
    border: none;
    cursor: pointer;

}
#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}
  
#myInput:focus{
    outline: 3px solid #ddd;
}
.dropdown-content{
    display: none;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    position: absolute;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown a:hover{
    background-color: #ddd;
}

.show{
    display: block;
}
main{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: black;
}
.menu-items-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.menu-container{
    
    display: flex;
    justify-content: center;
}

.Menu-item{
    width: 60%;
    height: 100px;
    background-color: #B6F378;
    border: 1px solid black;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: 0.5s;

    display: flex;
}
.Menu-item:hover{
    transform: scale(1.025);
    cursor: pointer;
}
.item-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 30px;
}

.price-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.dash-line{
	border-bottom: 99px solid #E2FACA;
	border-left: 100px solid transparent;
	border-right: 0px solid transparent;
	width: 300px;

    display: flex;
    justify-content: center;
}
.Price{
    font-size: 24pt;
    color: black;
    padding-top: 30px;
}
.login-page{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;

}
.panel{
    width: 350px;
    height: 350px;
    background-color: #81ca38;
    gap: 30px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.submit{
    width: 50%;
    height: 10%;
}
.login-button{
    width: 30%;
    height: 10%;
}


/* add */ 
.add-form{
    width: 70%;
    height: 70%;

}
.add-menu{
    width: 100%;
    height: 100%;
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.add-main{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.label{
    width: 100%;
    height: 100%;       
    font-size: 24pt;                                                     
    background-color:  #B6F378;
    padding: 0 50px 0 50px;
    border: 1px solid black;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.textfield{
    width: 60%;
    height: 40%;

    display: flex;
    font-size: 18pt;
}
.button{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
button{
    width: 20%;
    height: 100%;
    font-size: 20pt;
}

.change{
    font-size: 24pt;
    color: black;
    padding: 30px;
}
.add-item-container{
    width: 100%;
    height: 10%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-item{
    width: 20%;
    height: 50%;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    font-size: 16pt;
    cursor: pointer;
    background-color: #81ca38;

    padding: 10px;
}
.delete-button, .change-item{

    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 24pt;
    color: black;
    padding: 30px;

}
.return{
    width: 100%;
    height: 20%;
    font-size: 50pt;

    display: flex;
    justify-content: center;
    align-items: center;
}
.wrong-container{
    width: 100%;
    height: 15%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.wrong{
    width: 20%;
    height: 50%;
    
    background-color: #81ca38;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}
